{{>header}}
<div class="w-100 border rounded">
    <div id="inputClass" class="sticky-top p-3">
        <div class="border-bottom mb-3 pb-1">
            <h1 class="h2">강의실 등록하기</h1>
            <div class="d-flex">
                <div class="w-auto me-3 mb-2">
                    <input type="text" onkeyup="rnumcheck()" class="roomnumber form-control w-100 me-2" placeholder="강의실 호수"/>
                    <span class="roomCheckBox checkbox"></span>
                </div>
                <div class="w-auto me-3 mb-2">
                    <input type="text" onkeyup="totalcheck()" class="totalperson form-control w-100 me-2" placeholder="강의실 총 인원"/>
                    <span class="totalCheckBox checkbox"></span>
                </div>
                <div class="w-auto">
                    <button class="btn btn-success" onclick="roomSignUp()" type="button">등록</button>
                </div>
            </div>
        </div>
        <div class="pt-3 px-3 roomInfo">
            <table class="table table-striped-columns table-hover border-top align-middle">
                <thead>
                <tr class="text-center">
                    <th scope="col">번호</th>
                    <th scope="col" colspan="5">강의실 호수</th>
                    <th scope="col" colspan="4">강의실 총 인원</th>
                    <th scope="col">비고</th>
                </tr>
                </thead>
                <tbody class="roomInfo">

                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center pt-3 p-3 border-bottom pagination">
            페이지네이션
        </div>
    </div>
</div>
<script src="/js/classroom.js"></script>
{{>footer}}