{{>header}}
<div class="border rounded d-flex w-100 justify-content-around align-items-center">
    <div>
        <img class="w-200 h-200" src="/img/login.png">
    </div>
    <div class="w-50">
        <div class="totalbox">
            <div class="d-flex justify-content-between">
                <div class="mb-3">
                    <label for="inputPassword" class="sm-2 col-form-label">ID</label>
                </div>
                <div class="mb-3 w-75">
                    <input class="loginbox form-control" type="text" id="id">
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="mb-3">
                    <label for="inputPassword" class="sm-2 col-form-label">Password</label>
                </div>
                <div class="mb-3 w-75">
                    <input class="loginbox form-control" type="password" id="pw">
                </div>
            </div>
            <div>
                <div>
                    <button class="btn btn-outline-primary w-100 mb-3" type="button" onclick="login()" id="logBtn">로그인</button>
                </div>
                <span>
                    <a class="btn btn-outline-success w-100 mb-3" href="/m/sig">회원가입</a>
                </span>
            </div>
        </div>
    </div>
</div>
{{>footer}}