{{>header}}
<div class="w-100 border rounded">
    <div id="inputClass" class="sticky-top p-3">
        <div class="border-bottom mb-3 pb-4">
            <h1 class="h2">강의시간 목록</h1>
           
        </div>
    </div>
    <div class="pt-3 px-3">
        <table class="table table-striped-columns table-hover border-top align-middle classTimeBox">
            <thead>
            <tr class="text-center">
                <th scope="col">번호</th>
                <th scope="col">요일</th>
                <th scope="col">시작 시간</th>
                <th scope="col">끝 시간</th>
                <th scope="col">비고</th>
            </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center pt-3 p-3 border-bottom pagination">
        페이지네이션
    </div>
</div>
<script src="/js/classtime.js"></script>
{{>footer}}