{{>header}}
<div class="w-100 border rounded">
    <div id="inputClass" class="sticky-top p-3">
        <div class="border-bottom mb-3 pb-4">
            <h1 class="h2">교수 목록</h1>
            
        </div>
    </div>
    <div class="pt-3 px-3 tabletest">
        <table class="table table-sm table-striped-columns table-hover border-top align-middle">
            <thead>
                <tr class="text-sm-center">
                    <th scope="col">번호</th>
                    <th>이름</th>
                    <th>등급</th>
                    <th>급여</th>
                    <th>연구실주소</th>
                    <th>학위</th>
                    <th>전공</th>
                    <th>담당학과</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody class="getAllProfessor">

            </tbody>
        </table>
    </div>
</div>
<script src="/js/viewprofessor.js"></script>
{{>footer}}